.header {
    display: flex;
    justify-content: center;
    background: #222;
    color: white;
    padding: 20px;
    font-size: 36px;
}

.toolbar {
    display: flex;
    background: #066115;
}

.toolbar p {
    margin: 0;
    padding: 15px 25px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.toolbar p:hover {
    background: #256d31;
    color: white;
}

.toolbar p.active {
    background: #3da54f;
    color: white;
    font-weight: bold;
}

img {
  width: 200px;     
  float: right;
  height: 300px; 
  object-fit: cover; 
  border-radius: 8px;
  display: block; 
  margin-top: 10px;
}

i {
  color: #63f105;
  font-size: 24px;
  margin: 10px;
  
}

.bottom-buttons {
    position: fixed;
    bottom: 70px;
    left: 0;
    width: 100%;
    text-align: left;
    padding: 15px;
    z-index: 9999; 
}

footer {
    text-align: center;
    color: aquamarine;
    background-color: blueviolet;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
